<?xml version="1.0" encoding="UTF-8"?>
 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="org.kkamnyang.persistence.RouteMapper">

 	<insert id="create" useGeneratedKeys="true" keyProperty="routeno">
 		insert into tbl_route(adminno,routename,secret,step,password,lat,lng) values(1,#{routename},#{secret},#{step},#{password},#{lat},#{lng})
 	</insert>
 
 	<select id="list" resultType="org.kkamnyang.domain.RouteVO">
 		select * from tbl_route
 	</select>
 		
 	<select id="listadmin" resultType="org.kkamnyang.domain.RouteVO">
 		select * from tbl_route where adminno = #{adminno}
 	</select>
 	
 	<select id="read" resultType="org.kkamnyang.domain.RouteVO">
 		select * from tbl_route where routeno = #{routeno}
 	</select>
 	
 	<update id="update">
 		update tbl_route set routename = #{routename}, lat = #{lat}, lng = #{lng} where routeno = #{routeno}
 	</update>
 	
 	<delete id="delete">
 		delete from tbl_route where routeno = #{routeno}
 	</delete>
 	
 	
 </mapper>